div
    h1.centerTitle A propos
    br
    img(src="/images/moi.gif")#icone
    p#about Je m'appelle Alexandre VENIGER je suis web designer amateur depuis 2 ans. Je suis également détenteur d'un BTS en Management des Unités Commerciales.
    br
    p
        J'espére que vous trouverez toutes les informations nécessaires à votre vistes. Si tel n'est pas le cas je vous en prie de me contacter
    br
    p
        Pour toute demande d'aide au développement d'un site web, je suis à votre disposition veuillez me contacter par le même biais.


