div
    h1.centerTitle Contact
    br
    p Pour me contacter voici un Formulaire
    br
    p
        form(action="/contact", name="contactus", id="contactus", method="post")
            fieldset
                label(for='name') 
                    P Nom:
                input(name='name', type='text', value='', id='name')
                br
                label(for='email')
                    p Email:
                input(name='email', type='email', value='', id='email')
                br
                label(for='message') 
                    p Message:
                br
                textarea(name='message', cols='40e', rows='10e', id='message')
                br
                input(name='submit', type='submit', value='Send', id='submit')
