nav
    div.header-left
        a(href="#"): | Alexandre VENIGER
    div.header-right
        ul
            //li
                a(href="#"): | Portofolio&nbsp 
            //li
               p //&nbsp 
            li
                a(href="#About"): | A propos&nbsp
            li
               p //&nbsp 
            li
                a(href="#Contact"): | Contact&nbsp

